.jumbotron {
    color: rgb(181, 26, 26);
    background-color: rgba(0,0,0,0.3);
    text-align: center;
    background-image: url("../images/background_image.png");
    padding: 1.8rem 2rem;
}

.display-3{
    font-weight: 600;
    font-family: 'Carter One', cursive;

}

.row{
    padding-bottom: 30px;
}

.container{
    max-width: 800px;
}

body{
    background-image: url("../images/body_background.jpg");
    background-size: cover;
}

.card-header{
    background-color: rgb(181, 26, 26);
    color: white;
}